<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
<ngb-panel title="MCR1-LAB" >
  <ng-template ngbPanelContent>      
      <div class="row">            
            <select class="form-control col-md-4" [(ngModel)]="selectedCommand"
             (change)="commandChanged()">
            <option *ngFor="let c of filteredCommands" [ngValue]="c">{{c.name}}</option>
    </select>
            <div class="col-md-1">
            <div class="btn-group btn-sm">
                    <button class="btn btn-default btn-sm ng-scope" (click)="editCommand()" tooltip=" edit parameters" 
                    [disabled]="selectedCommand == null">
                        <i class="fa fa-pencil"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-2 column">
                    Type:
                    <div class="btn-group btn-sm">
                       
                        <select class="form-control"
                                [(ngModel)]="selectedCategory" (change)="categoryChanged()">
                                <option *ngFor="let category of groupedCategories" [ngValue]="category">{{category.name + " ("+ category.count + ")"}}</option>
                        </select>
                    </div>
                </div>
      </div>   
  </ng-template>
</ngb-panel>


</ngb-accordion>