<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="{{device.device_name}}">
        <ng-template ngbPanelContent>
            <div class="card">
                <div class="card-body row">
                    <select class="form-control col-md-4" [(ngModel)]="selectedCommand" (change)="commandChanged()">
                        <option *ngFor="let c of filteredCommands | orderBy:'name'" [ngValue]="c">{{c.name}}</option>
                    </select>
                    <div class="col-md-1">
                        <div class="btn-group btn-sm">
                            <button class="btn btn-default btn-sm ng-scope" (click)="editCommand()" tooltip=" edit parameters" [disabled]="selectedCommand == null">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        Type:
                        <div class="btn-group btn-sm">
                            <select class="form-control" [(ngModel)]="selectedCategory" (change)="categoryChanged()">
                                <option *ngFor="let category of groupedCategories" [ngValue]="category">{{category.name + " ("+ category.count + ")"}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row clearfix">
                <br />
                <div class="col-md-12 column">
                    <div class="card">
                        <div class="card-header">
                            <span style="font-size: 14px;">
                                Parsed Command:
                                <i>
                                    {{selectedCommand?.name}}
                                </i>
                            </span>
                        </div>
                        <div class="panel-body" style="overflow:auto">
                            <div class="panel panel-default">
                                <table class="table table-condensed table-striped table-bordered">
                                    <tr *ngFor="let cmd of selectedCommand?.scripts">
                                        <td width="30px" align style="text-align: center">
                                            <i [class]="cmd.icon" style="margin-top:3px" [style.color]="getCommandIconColor(cmd)"></i>
                                        </td>
                                        <td [innerHTML]="cmd.command"></td>
                                    </tr>
                                </table>
                            </div>
                            <br />
                            <div class="card">
                                <table class="table table-condensed table-striped table-bordered" ng-cloak>
                                    <tr>
                                        <td colspan="2">
                                            <span class="label label-warning" *ngIf="!device.isLoggedOn" tooltip="Not Connected!">
                                                Not Connected!
                                            </span>
                                            <span *ngIf="device.isLoggedOn">
                                                <div class="form-group" style="margin-bottom: inherit">
                                                    &nbsp;
                                                    <b>Context:</b>&nbsp;
                                                    <input type="text" class="form-control" ng-model="device.context" style="width:300px; display:inline" placeholder="Enter a Context (Not Required)"
                                                    />
                                                    <button role="button" class="btn btn-default btn-sm" style="height:34px" (click)="sendAllCommands(0)" [disabled]="device.isExecuting"
                                                        tooltip="Send">
                                                        <i class="fa fa-play"></i>
                                                    </button>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td width="20%">
                                    <span>
                                        <b>
                                            <i class="fa fa-windows"></i>&nbsp;Device Output</b>&nbsp;
                                    </span>
                                </td>
                                <td width="20%"></td>
                                <td width="60%">
                                    <div class="pull-right">

                                        <span style="font-size: xx-small" ng-show="tabularOutput">Smart Display ON</span>

                                        <input type="text" style="text-indent: 2px; height:21px;font-size: xx-small;border:1px;" placeholder="Enter Grep Text" ng-model="grepFilter.filterTerm"
                                        />
                                        <button class="btn btn-default btn-xs" tooltip="Search in Terminal" ng-click="applyHighlighting(device.terminal,grepFilter)">
                                            <i class="fa fa-search"></i>
                                        </button>

                                        <button class="btn btn-default btn-xs" tooltip="Switch Terminal Colors" ng-click="toggleTerminalCss()">
                                            <i class="fa fa-paint-brush"></i>
                                        </button>

                                        <button class="btn btn-default btn-xs" tooltip="Clear Terminal" ng-click="clearTerminal()">
                                            <i class="fa fa-eraser"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" tooltip="Smart Display" ng-click="toggleSmartDisplay()">
                                            <i class="fa fa-table"></i>
                                        </button>

                                        &nbsp;&nbsp;&nbsp;
                                        <button style="border: 0;background: transparent;outline: none;" class="pull-right" data-toggle="collapse" data-target="#panel-element-652008">
                                            <span class="glyphicon glyphicon-chevron-right "></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div style="height:500px;">
                    <div class="panel-body" style="height: 99%; overflow:scroll">
                        <div auto-scroll class="terminal" style="height: 450px;">
                            <span [innerHTML]="device.terminal"></span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>


</ngb-accordion>