<ng-template #rt let-r="result" let-t="term">
    {{ r.device_name + ' (' + r.ne_type + ')'}}
</ng-template>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <b>My Devices</b>
        </h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item" style="max-height:510px">
                <ul class="nav nav-pills nav-stacked" style="overflow-y:auto;max-height:510px">
                    <li class="default" *ngFor="let device of mydevices" >
                        <button type="button" class="btn" style="margin-bottom:5px; vertical-align: middle;"
                            (click)="setDevice(device)">
                            <table>
                                <tr>
                                    <td>
                                        <img style="height:16px; width:16px;" class="pull-left" [src]="getDeviceIcon(device)"
                                        />
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;{{device.device_name}}</td>
                                </tr>
                            </table>
                        </button>
                        <i style="margin-left:10px; cursor: pointer" [style.color]="device.isLoggedOn ? 'green' : 'orange'" 
                        class="{{(device.isLoggedOn ? 'fa fa-lock' : 'fa fa-unlock-alt')}}"
                            (click)="toggleConnection(device)"></i>
                        <i style="margin-left:10px; cursor: pointer" ng-style="{color: 'black'}" 
                        class="fa fa-remove" (click)="removeDevice(device)"></i>
                    </li>
                </ul>
            </div>
            <div class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input id="typeahead-http" type="text" (selectItem)="deviceSelected($event.item)"
                    class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Enter device name"
                    [resultTemplate]="rt" [inputFormatter]="formatter"
                    />
                </div>
            </div>
        </div>


        <!-- <div class="panel panel-default" ng-hide="mruList.length == 0">
            <div class="panel-heading">
                Command History
            </div>
            <div class="panel-body">
                <div ng-repeat="device in mruList">
                    <a ng-click="initializeMRUCommand(device)" style="cursor:pointer;font-size: 90%">{{device.command.name}}</a>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="margin-top:10px">
            <i class="{{statusIcon}}"></i>&nbsp;
            <span>{{statusMessage}}</span>
        </div> -->
    </div>
</div>