<div class="row clearfix" style="padding-top:5px">
    <label class="col-sm-4 control-label">{{data.label}}</label>
    <div class="col-sm-6">
        <select #box  name="input" class="form-control" 
        [(ngModel)]="data.value" (change)="validate(box.value)" [required]="data.required">
            <option *ngFor="let c of data.options" [value]="c.value">{{c.label}}</option>
        </select>
    </div>
    <div class="col-sm-1">
        <span 
        style="font-size:large; vertical-align:bottom; ">
      <b [style.color]="isValid ? 'green' : 'red'" >*</b>
  </span>
    </div>
</div>
